
@model Mall.Web.Back.ViewModel.UserViewModel

<div class="replyevaluate-buyer-info">
    <h4 class="replyevaluate-title">买家</h4>
    <div>
        <img src="@Model.Photo" />
        <span>@Model.NickName</span>
    </div>
</div>
