<!-- 销售详情 -->
<div class="goods-sale-img">
    <img src="~/Pictures/goods-test.jpg" />
</div>
<div class="goods-sale-detail">
    <div class="goods-sale-detail-info">
        <div class="info-title">
            <h2>喜欢我也没关系</h2>
        </div>
        <div class="info-publish">
            <p><span>作者:&ensp;Author</span>&emsp;<span>出版社:&ensp;</span>&emsp;<span>出版时间:&ensp;@DateTime.Now</span></p>
        </div>
        <div class="money">
            <div class="info-shop-price">
                <p class="title">专柜价</p>
                ￥225.00
            </div>
            <div class="info-money">
                <p class="title">促销价</p>
                ￥195.00
            </div>
            <div class="info-freight">
                <p class="title">运费</p>
                ￥0.00
            </div>
        </div>
        <div class="info-sale">
            已售&ensp;<span>235</span>&emsp;评价&ensp;<span>123</span>
        </div>
    </div>
    <div class="goods-sale-submit">
        <form action="">
            <div class="info-count">
                <p class="title">数量</p>
                <input name="" type="number" min="1" value="1" />
            </div>
            <input name="" type="hidden" />
            <button class="buy-button" type="submit">立即购买</button>
            <button class="cart-button" type="submit">加入购物车</button>
        </form>
    </div>
</div>