<!-- 商品详情 -->
<div class="goods-detail-parameter">
    <div class="title">
        <h4><span>参数详情</span></h4>
    </div>
    <table>
        <tbody>
            <tr>
                <td>版 次:1</td>
                <td>页 数:123</td>
                <td>字 数:123000</td>
            </tr>
            <tr>
                <td>出版社:重庆人民出版社</td>
                <td>出版时间:</td>
            </tr>
            <tr>
                <td>包 装:</td>
                <td>:</td>
                <td>:</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="goods-detail-img">
    <div class="title">
        <h4><span>图文详情</span></h4>
    </div>
    <div class="img-content">
        @{List<int> i = new List<int>(); i.Add(1); i.Add(2); }
        @foreach (var item in i)
        {
            <img src="~/Pictures/goods-test.jpg" />
        }
    </div>
</div>