<!-- 评价列表 -->
<div class="title">
    <h4><span>商品评价</span></h4>
</div>
<div class="evaluates">
    @{List<int> i = new List<int>(); i.Add(1); i.Add(2); }
    @foreach (var item in i)
    {
        <div class="evaluate">
            <div class="evaluate-buyer">
                <img src="~/Pictures/Shared/contact.png" />
                <p>长颈鹿</p>
            </div>
            <div class="evaluate-content">
                <p class="evaluate">和身边的朋友同事安利了海豹，现在我们的微信头像相当和谐哈哈哈哈哈哈，明天带去学校给班里 的小朋友们，再在家长群里安利一下，XX要不要给我广告费啊。 </p>
                <p class="evaluate-time">@DateTime.Now</p>
            </div>
        </div>
    }
</div>