.buyNow_address{
    width:100%;
}
.buyNow_titel{
    position:relative;
    left:30px;
    top:1px;
    text-align:center;
    border-radius:5px;
    width:150px;
    font-size:20px;
    border:1px solid #0066ff;
    border-bottom:none;
    background-color:white;
}
.buyNow_address,.buyNow_infor{
    margin:30px 0;
}
.buyNow_address_infor,.buyNow_detail{
    border:1px solid #0066ff;
    border-radius:5px;
}
.buyNow_detail_head > ul > li{
    float:left;
}
.buyNow_sign{
    color:#b1b1b1;
    font-size:10px;
}
.buyNow_confirm{
    text-align:right;
    font-weight:800;
    font-size:20px;
}
.buyNow_confirm_money{
    color:red;
}
.confirm_button{
    border:1px solid #666666;
    border-radius:5px;
    background-color:;
    width:200px;
    height:50px;
    font-size:14px;
}
.buy_now_infor_total{
    text-align:right;
}
.buy_now_infor_total > span{
    font-size:20px;
    color:red;
}