.createGoods-left,.createGoods-right{
    border:1px solid #666666;
    border-radius:10px;
    font-size:20px;
    display:inline-block;
    width:700px;
    height:802px;
    margin-left:50px;
}
.createGoods-left .title,.createGoods-right .title{
    width:100px;
    text-align:right;
    display:inline-block;
}
.createGoods-left div,.createGoods-right div{
    margin:20px 0px;
}
.createGoods-left div .input{
    margin-left:30px;
    width:530px;
    height:30px;
    font-size:20px;
    text-indent:5px;
}
.createGoods-left div textarea{
    margin-left:30px;
    min-width:530px;
    min-height:100px;
    max-width:530px;
    max-height:100px;
}
.createGoods-left-class > ul,.createGoods-left-class > ul li{
    list-style:none;
    display:inline-block;
}
.createGoods-left-class > ul li{
    margin-left:20px;
}
.createGoods-left button{
    width: 100px;
    height: 30px;
    margin-left: 135px;
}
.createGoods-left-shelves{
    margin-left: 135px;
    top: -30px;
    position: relative;
}
.createGoods-left-shelves > label,.createGoods-left-shelves label label{
    display: inline-block;
    margin-left:50px;
}
.createGoods-left-shelves label label{
    margin:20px;
}
.createGoods-right{

}
.createGoods-right .preview{
    margin:20px 100px;
    width:200px;
    height:200px;
}
.createGoods-right .choice{
    margin-left:20px;
}