.goods-search > div{
    display:inline-block;
    margin-left:30px;
}
.goods-edit,.goods-menu{
    border:1px solid #666666;
    border-radius:10px;
    font-size:20px;
    display:inline-block;
    width:700px;
    height:802px;
    margin-left:50px;
}
.goods-menu{
    width:300px;
    font-size:16px;
}
.goods-menu > ul{
    list-style:none;
    margin:0;
}
.goods-menu > ul > li{
    border-bottom:1px solid #666666;
}
.goods-menu > ul > li > a{
    position:relative;
    top:-30px;
    left:10px;
}
.goods-menu > ul > li > a > img{
    width:50px;
    height:50px;
}
.goods-menu table{
    display:inline-block;
}
.goods-menu table > tbody > tr > td{
    text-align:right;
    padding:10px;
    width:100px;
}
.goods-edit .title{
    width:100px;
    text-align:right;
    display:inline-block;
}
.goods-edit div{
    margin:20px 0px;
}
.goods-edit div .input{
    margin-left:30px;
    width:530px;
    height:30px;
    font-size:20px;
    text-indent:5px;
}
.goods-edit div textarea{
    margin-left:30px;
    min-width:530px;
    min-height:100px;
    max-width:530px;
    max-height:100px;
}
.goods-edit-class > ul,.goods-edit-class > ul li,
.goods-search-class > ul,.goods-search-class > ul li{
    list-style:none;
    display:inline-block;
}
.goods-edit-class > ul li{
    margin-left:20px;
}
.goods-edit button{
    width: 100px;
    height: 30px;
    margin-left: 135px;
}
.goods-edit-shelves{
    margin-left: 135px;
    top: -30px;
    position: relative;
}
.goods-edit-shelves > label,.goods-edit-shelves label label{
    display: inline-block;
    margin-left:50px;
}
.goods-edit-shelves label label{
    margin:20px;
}