
@{
    ViewBag.Title = "AdvertisementSet";
    Layout = "~/Views/Layout/_AdminTLE.cshtml";
}


<section class="content-header">
    <h1><i class="fa fa-fa-list-alt"></i>AdvertisementSet</h1>
</section>
<section class="content">


</section>
