
@{
    ViewBag.Title = "ClassSet";
    Layout = "~/Views/Layout/_AdminTLE.cshtml";
}

<section class="content-header">
    <h1><i class="fa fa-bars"></i>ClassSet</h1>
</section>
<section class="content">

</section>

