@model Mall.Data.DataBase.User

<div class="pull-left image">
    <img src="~/Pictures/Chat/电脑(Others).png" class="img-circle" alt="User Image">
</div>
<div class="pull-left info">
    <p>@Model.NickName</p>
    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
</div>