@model Mall.Web.Back.ViewModel.UserViewModel

@Html.Partial("Admin/_GetEmployeeInfo", Model)
<div class="admin-detail-permission">
    <div class="employee-info-permission">
        <div class="permission-list">
            <p class="title">权限</p>
            <div class="permission">
                @Html.Action("GetEmployeePermissions", "Admin", new { userId = Model.UserId })
            </div>
        </div>
    </div>
    <div class="permission-submit">
        <button type="button" onclick="GetPermissionMenus()">修改权限</button>
    </div>
</div>