
@{
    ViewBag.Title = "HomeSet";
    Layout = "~/Views/Layout/_AdminTLE.cshtml";
}

<section class="content-header">
    <h1><i class="fa fa-bank"></i>HomeSet</h1>
</section>
<section class="content">

</section>