
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<div class="admin_login_wap">
    <div class="admin_login">
        <div class="admin_login_head"></div>
        <h2>欢迎使用云翳商城管理系统</h2>
        <div>
            <form action="/Admin/Login" name="login" method="Get">
                <div class="admin-login-account">
                    <img src="~/Pictures/Shared/contact.png" title="账户"/>
                    <input id="account" name="account" class="admin_login_input" type="text" placeholder="账户" />
                </div>
                <div class="admin-login-password">
                    <img src="~/Pictures/Shared/phone.png" title="密码"/>
                    <input id="password" name="password" class="admin_login_input" type="password" placeholder="密码" />
                </div>
                <button class="admin_login_button" type="button" onclick="log()">登&emsp;&emsp;录</button>
            </form>
        </div>
        <div class="admin_login_forget">
            <fieldset class="forgot">
                <legend>忘记密码?<a href="#">点这里</a></legend>
            </fieldset>
        </div>
    </div>
</div>
@section css{
    @Styles.Render("~/Css/Admin/Index.css")
}
@section scripts{
    @Scripts.Render("~/JS/Admin/Index.js")
}
@{
    //登录
    var log = TempData["log"];
    if (log != null)
    {
        if (log.Equals("password"))
        {
            <script>
                layer.open({
                    title: '错误提示',
                    content: '管理员不存在!',
                });
            </script>
        }
    }
    //修改密码
    var modifyLP = TempData["ChangeLP"];
    if (modifyLP != null)
    {
        if (modifyLP.Equals("success"))
        {
            <script>
                layer.open({
                    title: '提示',
                    content: '修改成功,请重新登录!',
                });
            </script>
        }
    }
}