
@{
    ViewBag.Title = "RecommendSet";
    Layout = "~/Views/Layout/_AdminTLE.cshtml";
}

<section class="content-header">
    <h1><i class="fa fa-bullhorn"></i>RecommendSet</h1>
</section>

<section class="content"></section>