
@{
    ViewBag.Title = "RoleManage";
    Layout = "~/Views/Layout/_AdminTLE.cshtml";
}

<section class="content-header">
    <h1><i class="fa fa-cog"></i>RoleManage</h1>
</section>
<section class="content">
</section>