
@{
    ViewBag.Title = "订单详情";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<div class="OD-head">
    <h2>订单详情</h2>
</div>
<div class="OD-state">
    <div class="OD-state-course">
        <ul>
            <li><p><i class="fa fa-rmb"></i>待付款</p></li>
            <li><p><i class="fa fa-send-o"></i>待发货</p></li>
            <li><p><i class="fa fa-truck"></i>待收货</p></li>
            <li><p><i class="fa fa-comments-o"></i>待评价</p></li>
            <li><p><i class="fa fa-bullseye"></i>交易完成</p></li>
        </ul>
    </div>
    <div class="OD-state-detail">
        <h3>订单状态:</h3>
        <ul>
            <li></li>
            <li>如有疑问，请联系客服</li>
        </ul>
    </div>
</div>
<div class="OD-sign">
    <span><i class="fa fa-exclamation-circle"></i></span>
    此结果由云翳网站提供
</div>
<div class="OD-infor">
    <div class="OD-titel">订单详情</div>
    <div class="OD-detail">
        <div class="OD-detail-cilent">
            <h3 class="titel">买家信息</h3>
            <div class="OD-detail-cilent-info">
                <table>
                    <tr>
                        <td>
                            <span class="mark">收货人姓名:</span>&emsp;<span>XXX</span>
                        </td>
                        <td>
                            <span class="mark">收货地址:</span>&emsp;<span>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="mark">派送方式:</span>&emsp;<span>XX</span>
                        </td>
                        <td>
                            <span class="mark">联系电话:</span>&emsp;<span>15XXXXXXX23</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="OD-detail-seller">
            <h3 class="titel">卖家信息</h3>
            <div class="OD-detail-seller-info">
                <i class=""></i>
                <span>
                    <i class="fa fa-exclamation-circle"></i>此商品由云翳商城提供，如有疑问请联系客服！
                </span>
            </div>
        </div>
        <div class="OD-detail-order">
            <h3 class="titel">订单信息</h3>
            <div class="OD-detail-order-info">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <span class="mark">订单编号:</span>&emsp;<span>@Model.OrderId</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="mark">下单时间:</span>&emsp;<span>@Model.CreateTime</span>
                            </td>
                            <td>
                                <span class="mark">发货时间:</span>&emsp;<span>XXXX-XX-XX XX:XX:XX</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="mark">收货时间:</span>&emsp;<span>@Model.ReceiptTime</span>
                            </td>
                            <td>
                                <span class="mark">成交时间:</span>&emsp;<span>XXXX-XX-XX XX:XX:XX</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="OD-detail-goods">
            <h3 class="titel">商品信息</h3>
            <div class="OD-detail-head">
                <ul>
                    <li class="detail">商品简介</li>
                    <li>作者</li>
                    <li>单价</li>
                    <li>数量</li>
                    <li>总价</li>
                    <li>运费</li>
                    <li>操作</li>
                </ul>
            </div>
            <div class="OD-detail-goods-info">
                <ul>
                    <li class="detail">
                        <a href="">
                            <img src="~/Pictures/Shared/contact.png" />
                        </a>
                        <span>和我靓女成本会计被我日hi都是快乐男生都i走</span>
                    </li>
                    <li>author</li>
                    <li>123.00</li>
                    <li>1</li>
                    <li class="money">￥123.00</li>
                    <li class="money">￥0.00</li>
                    <li><a href="#">再次购买</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
@section css{
    @Styles.Render("~/Css/Order/OrderDetails.css")
}