
<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="navbar-custom-menu">
            <ul class="message-menu">
                <li title="购物车">
                    <a href="/Custom/ShoppingCart" title="购物车">
                        <i class="fa fa-shopping-cart"></i>
                        购物车
                        <span class="label label-info">0</span>
                    </a>
                </li>
                <li title="进行中……">
                    <a href="/Order/AllOrders" title="进行中……">
                        <i class="fa fa-adjust"></i>
                        进行中……
                        <span class="label label-default">0</span>
                    </a>
                </li>
                <li title="切换帐号">
                    <a href="/Users/Logout" title="切换帐号">
                        <i class="fa fa-sign-out"></i>
                        切换帐号
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>