

<header class="main-header">
    <!-- Logo -->
    <a href="index2.html" class="logo">
        <span class="logo-mini" title="商城主页"><b>云</b>翳</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg" title="商城主页"><b>云</b>翳</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="message-menu">
                <li title="购物车">
                    <a href="/Users/ShoppingCart" title="购物车">
                        <i class="fa fa-shopping-cart"></i>
                        购物车
                        <span class="label label-info">4</span>
                    </a>
                </li>
                <li title="进行中……">
                    <a href="#" title="进行中……">
                        <i class="fa fa-adjust"></i>
                        进行中……
                        <span class="label label-default">5</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>