body {
    padding:0;
    margin:0;
}
.wrap{
    width:100%;
}
.head,.navbar-body{
    width:1500px;
    margin:0 auto;
}
.head {
    
    display:flex;
}
.navbar-head{
    height:100px;
    background-color:#222222;
}
.head-message{
    font-size:20px;
}
.head-message input{
    font-size: 30px;
    margin: 30px 5px;
}
.login,.log,.head-message{
    color:#999999;
}
.logo,.head-message,.head-message p{
    height:100px;
}
.logo img{
    margin:10px 20px 10px 0px;
    height:80px;
}
.log{
    padding:35px 0px 35px 20px;
    font-size:25px;
    text-align:right;
}
.log a{
    color:#999999;
    text-decoration:none;
}
.log a:hover{
    color:white;
}
/* Set padding to keep content from hitting the edges */
.navbar-body {
}

.navbar-foot footer{
    text-align:center;
    font-size:20px;
    margin-top:10px;
}
.navbar-foot footer .foot-1{
    font-size:25px;
    margin-top:10px;
    margin-bottom:10px;
}
.foot-1 a{
    color:darkblue;
    text-decoration:none;
}
.foot-1 a:hover{
    color:;
}