
<div class="modal fade" id="ChangeLPModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="changeLP" action="ChangeLP" method="post">
                <div class="modal-header">
                    <button type="button" class="close" Data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">修改登录密码</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>新登录密码</label>
                        <input name="log_password" id="log_password" class="form-control" placeholder="请输入新密码" type="password"/>
                    </div>
                    <div class="form-group">
                        <label>确认新登录密码</label>
                        <input name="re_log_password" id="re_log_password" class="form-control" placeholder="确认新密码" type="password"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="ChangeLP()">确认修改</button>
                    <button type="button" class="btn btn-default" Data-dismiss="modal">关闭</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>