
@{
    ViewBag.Title = "CreateGoods";
    Layout = "~/Views/Layout/_AdminTLE.cshtml";
}

<section class="content-header">
    <h1><i class="fa fa-plus-square-o"></i>CreateGoods</h1>
</section>
<section class="content">
    <div class="createGoods-all">
        <table>
            <tr>
                <td>
                    <div class="createGoods-left">
                        <div>
                            <p class="title"><span class="star">*</span>商品名</p>
                            <input name="name" id="name" class="input" type="text" placeholder="商品名" />
                        </div>
                        <div>
                            <p class="title">作者</p>
                            <input name="author" id="author" class="input" type="text" placeholder="作者" />
                        </div>
                        <div>
                            <p class="title">出版社</p>
                            <input name="press" id="press" class="input" type="text" placeholder="出版社" />
                        </div>
                        <div>
                            <p class="title">出版日期</p>
                            <input name="publicationDate" id="publicationDate" class="input" type="date" />
                        </div>
                        <div>
                            <p class="title"><span class="star">*</span>数量</p>
                            <input name="count" id="count" class="input" min="1" value="+1" placeholder="+123" />
                            <p class="sign"><span class="star">*</span>格式&emsp;+123</p>
                        </div>
                        <div>
                            <p class="title"><span class="star">*</span>价格</p>
                            <input name="price" id="price" class="input" type="text" value="+0" placeholder="+123.00" />
                            <p class="sign"><span class="star">*</span>格式&emsp;+123.00</p>
                        </div>
                        <div>
                            <p class="title">运费</p>
                            <input name="freight" id="freight" class="input" type="text" value="+0" placeholder="+123.00" />
                            <p class="sign"><span class="star">*</span>格式&emsp;+123.00</p>
                        </div>
                        <div>
                            <p class="title"><span class="star">*</span>详细介绍</p>
                            <textarea name="detail" id="detail" rows="3" placeholder="详情"></textarea>
                        </div>
                        <div class="createGoods-left-submit">
                            <button type="button" onclick="CreateGoodsImg()">添加图片</button>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="createGoods-right">
                        
                    </div>
                </td>
            </tr>
        </table>
    </div>
</section>
@section css{
    @Styles.Render("~/Css/Goods/CreateGoods.css")
    @Styles.Render("~/Css/Goods/ssi-uploader.css")
}
@section scripts{
    @Scripts.Render("~/JS/Goods/CreateGoods.js")
    @Scripts.Render("~/JS/Shared/ssi-uploader.js")
}