
.address-already{
    margin-bottom:50px;
}
.already ul {
    padding: 0;
    margin: 0;
}

    .already ul li {
        display: inline-block;
        text-align: center;
        padding: 5px 0px;
        overflow:hidden;
        vertical-align:middle;
    }
    .already ul li a{
        text-decoration:none;
        cursor:pointer;
    }
    .already ul li a:hover{
        text-decoration:underline;
    }

.already-label {
    background-color: #2ca9e1;
}

.content-light {
    background-color:#ecf0f5;
}

.content-dark {
    background-color:#cbcbcb;
}

.consignee {
    width:150px;
    border-right:1px solid #808080;
}

.address {
    width:420px;
    border-right:1px solid #808080;
}

.zip {
    width:150px;
    border-right:1px solid #808080;
}

.phone {
    width:150px;
    border-right:1px solid #808080;
}

.action {
    width:150px;
    border-right:1px solid #808080;
}

.default {
    width:150px;
}

.default-selected{
    background-color: red;
    border-radius: 10px;
    width: 80px;
    margin: 0 35px;
    padding: 0;
    color:azure;
    font-size:16px;
}
.default-nonselected{
    color:#337ab7;
    font-size:16px;
    cursor:pointer;
}
.default-nonselected:hover{
    text-decoration:underline;
}
.default-nonselected:active{
    color:#337ab7;
    text-decoration:none;
}