
@model List<Mall.Web.Front.ViewModel.GoodsInfoViewModel>

<div class="suggest-part">
    <div class="suggest-left">
        <p class="suggest-title-strong">好<span>书推荐</span></p>
        <div class="suggest-left-translate"></div>
        <div class="suggest-content">
            @Html.Partial("ViewComponents/_Suggest", Model.Take(4).ToList())
        </div>
    </div>
    <div class="suggest-advertisement">
        @Html.Partial("ViewComponents/_SuggestAdvertisement", Model[4])
    </div>
</div>