<!--首页头部-->
<div class="mall-head">
    <div class="outside mall-head-left">
        3-left
    </div>
    @Html.Action("Carousel")
    <div class="outside mall-head-right">
        3-right
    </div>
</div>