.search-content #search-input{
    font-size:20px;
    text-indent:5px;
    border-radius:3px;
    border:1px solid #ccc;
    vertical-align:middle;
    width:350px;
}
.search-content button{
    font-size:20px;
    border-radius:3px;
    border:1px solid #ccc;
    color:white;
    background-color:#3ae798;
    vertical-align:middle;
}
.search-content button:hover{
    background-color:#20d683;
}
.search-content button:active{
    background-color:#3ae798;
}
.admin-content > table > tbody > tr > td{
    vertical-align:top;
}
.admin,.admin-detail{
    margin: 40px 50px;
}
#admin-list .no-item{
    padding: 20px 30px;
}
.admin-list,.admin-detail{
    height:500px;
    border: 2px solid #bbbbbb;
    border-radius:5px;
    background-color:white;
}
.admin-list ul{
    margin:0;
    padding:0;
    font-size:0;
    overflow-y:auto;
    max-height:600px;
}
.admin-list ul li{
    list-style:none;
    font-size:16px;
    padding:0px 30px;
    border: 1px solid #cccccc;
    cursor:pointer;
}
.admin-list ul li:hover{
    border:1px solid #0094ff;
    background-color:#e1e1e1;
}
.admin-list ul .active{
    background-color:#ECF0F1;
}

.item-img,.item-info{
    display:inline-block;
    vertical-align:middle;
    margin:0px 10px;
}
.item-img img{
    height:64px;
    width:64px;
    border-radius:50%;
}
.item-info p{
    padding:0;
    margin:5px 0px;
}
.admin-item .info{
    padding-left:10px;
    font-weight:700;
}
.admin-detail > div{
    display: inline-block;
    vertical-align: top;
}
.admin-detail-info{
    border-right:2px solid #bbbbbb;
}
.admin-detail-info > div{
    margin:20px 30px 20px 0px;
}
.admin-detail-info label{
    font-size:18px;
    width:200px;
}
.admin-detail-info .title{
    width:80px;
    text-align:right;
    font-size:18px;
    display:inline-block;
    margin:0px 20px;
}
.info-img img{
    height:80px;
    width:80px;
}
.admin-detail-permission > div{
    margin:20px 0px 20px 20px;
}
.permission-list .title{
    font-size:18px;
}

.permission-submit button,.role-manage button{
    background-color:#2ca9e1;
    border:none;
    height:40px;
    width:140px;
    font-size:20px;
    border-radius:5px;
    margin:30px;
    color:white;
}
.permission-submit button:hover,.role-manage button:hover{
    background-color:#0095d9;
}
.permission-submit button:active,.role-manage button:active{
    background-color:#2ca9e1;
}