

<div class="modal fade" id="manageConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" Data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">管理员验证</h4>
            </div>
            <div class="modal-body">
                <input name="orderId" id="orderId" type="hidden" />
                <div class="form-group">
                    <label>管理密码</label>
                    <input name="managePassword" id="managePassword" class="form-control" placeholder="请输入您的管理密码" type="password" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="manageConfirm">确认修改</button>
                <button type="button" class="btn btn-default" Data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>