
<div class="modal fade" id="createGoodsImgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" Data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">添加图片</h4>
                </div>
                <div class="modal-body">
                    <input name="orderId" id="orderId" type="hidden" />
                    <div class="form-group">
                        <label>销售图片</label>
                        <div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="file" multiple id="ssi-upload" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" Data-dismiss="modal">关闭</button>
                </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
