.goods-detail .title {
    border-bottom: 1px solid #808080;
    border-left: 3px solid red;
    padding-top: 1px;
}

    .goods-detail .title > h4 {
        margin-bottom: 10px;
        margin-top: 10px;
    }

        .goods-detail .title > h4 > span {
            background-color: #b0b0b0;
            padding: 12px;
        }

.goods-detail-parameter {
}

    .goods-detail-parameter > table {
        margin-left: 20px;
    }

        .goods-detail-parameter > table > tbody > tr > td {
            text-align: left;
            padding: 10px 50px;
            width: 300px;
        }
.img-content > img{
    width:100%;
    height:700px;
}