.CR-head > h2{
    font-family: 隶书;
    font-size: 72px;
    color: #FF3300;
    padding-left:50px;
    margin: 0;
}
.CR-sign{
    color: #2ca9e1;
    font-size: 10px;
    margin: 30px 0px 0px 30px;
}
.CR-infor{
    margin:30px 0px;
}
.CR-detail{
    border:1px solid #0066ff;
    border-radius:5px;
}
.CR-titel{
    position:relative;
    left:30px;
    top:1px;
    text-align:center;
    border-radius:5px;
    width:150px;
    font-size:25px;
    border:1px solid #0066ff;
    border-bottom:none;
    background-color:white;
    font-weight:800;
}
.CR-detail .titel{
    padding-left:50px;
}
.CR-detail .mark{
    font-weight:900;
}
.CR-detail table{
    margin-left:250px;
    font-size:18px;
    font-family:微软雅黑;
}
.CR-detail-cilent-info > table > tbody > tr > td{
    padding-bottom:20px;
    width:500px;
}
.CR-detail-order-info > table > tbody > tr > td{
    padding-bottom:20px;
    width:400px;
}
.CR-detail-head > ul{
    border: 1px solid #b1b1b1;
    width: 1320px;
    height: 40px;
    margin: 40px auto 0px auto;
    padding:0px;
}
.CR-detail-head > ul > .detail,.CR-detail-goods-info > ul > .detail{
    width:450px;
}
.CR-detail-head > ul > li,.CR-detail-goods-info > ul > li{
    text-align:center;
    float:left;
    list-style:none;
    padding: 10px 0px;
    width:140px;
    font-size:16px;
}
.CR-detail-goods-info > ul > .detail{

}
.CR-detail-goods-info > ul > .detail > img{
    height:100px;
    width:100px;
}
.CR-detail-goods-info > ul > .detail > span{
    width:200px;
}
.CR-detail-goods-info > ul{
    height: 150px;
    width: 1320px;
    border-radius:5px;
    border:1px solid #b1b1b1;
    margin: 0 auto 20px auto;
    padding:0px;
    background-color:#ECF0F1;
}
.CR-detail-goods-info > ul > li{
    padding:65px 0px;
}
.money{
    color:red;
}
.CR-confirm{
    margin:30px 0px 100px 0px;
}
.CR-confirm-titel{
    position:relative;
    left:30px;
    top:1px;
    text-align:center;
    border-radius:5px;
    width:150px;
    font-size:25px;
    border:1px solid #0066ff;
    border-bottom:none;
    background-color:white;
    font-weight:800;
}
.CR-confirm-detail{
    border:1px solid #0066ff;
    border-radius:5px;
}
.confirm-sign{
    padding-left:50px;
    color: #2ca9e1;
    font-size: 14px;
    margin-top: 30px;
}
.confirm-sign-confirm {
    color:#FF0000;
}
.confirm .confirm-input{
    width:500px;
    padding-left:700px;
    margin-bottom:50px;
}
.confirm .confirm-input input {
    width:300px;
    height:30px;
    font-size:20px;
    margin-bottom:50px;
    text-indent:5px;
}
.confirm .confirm-input button {
    height:50px;
    width:150px;
    text-align:center;
    font-size:22px;
    margin-left:200px;
}
.confirm-input button:hover{

}
.confirm-input button:active{

}