
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login_wap">
    <div class="login_body">
        <div>
            <h2>登录</h2>
            <div>
                <form>
                    <p class="login_sign">账户</p>
                    <input class="login_input" type="text" placeholder="账户" />
                    <p class="login_sign">
                        密码
                        <span class="login_forget">
                            <a href="">忘记密码?</a>
                        </span>
                    </p>
                    <input class="login_input" type="password" placeholder="密码" />
                    <button class="login_button login_login">登录</button>
                </form>
            </div>
            <p>
                <span></span>
                还没有账户?
                <span></span>
            </p>
            <div>
                <button class="login_button login_registe">注册</button>
                <p>message</p>
            </div>
        </div>
    </div>
</div>

@section css{
    <link href="~/Css/Users/Login.css" rel="stylesheet" />
}
