.security-set{
    font-size:20px;
}
.security-set > div,.security-set > div > div{
    margin:20px 0px 20px 50px;
}
.security-set > div .star{
    color:red;
    font-size:12px;
}
.security-set > div > div > input{
    width:350px;
    height:40px;
    text-indent:5px;
    border-radius:4px;
    border:1px solid #ccc;
    display:block;
}
.security-set > div > div > button{
    width:100px;
    height:40px;
    margin: 20px 0px;
}
.log-tip,.pay-tip{
    width: 200px;
    border-bottom: 2px solid #b9b9b9;
}
.log-tip > h4,.pay-tip > h4{
    margin:10px;
}