.OD-head > h2{
    font-family: 隶书;
    font-size: 72px;
    color: #FF3300;
    padding-left:50px;
    margin: 0;
}
.OD-state-course{

}
.OD-state-course > ul{
    height:50px;
    margin-bottom:50px;
}
.OD-state-course > ul >li{
    background-color: green;
    vertical-align: middle;
    border-radius: 5px 50% 50% 5px;
    color: white;

    width:275px;
    height:50px;
    text-align:center;
    display:inline-block;
    font-size:20px;
    list-style:none;
}
.OD-state-course > ul > li > p{
    margin:10px 0px;
}
.OD-state-detail{
    border:1px solid #009966;
    background-color:#ECF0F1;
    border-radius:10px;
}
.OD-state-detail > h3{
    color:#666666;
    padding-left:40px;
}
.OD-state-detail > ul{
    padding:40px 0px 40px 70px;
}
.OD-state-detail >ul > li{
    font-weight:900;
    list-style:square;
    padding-top:10px;
    font-size:20px;
}
.OD-sign{
    color: #2ca9e1;
    font-size: 10px;
    margin-top: 30px;
}
.OD-infor{
    margin:30px 0 100px 0;
}
.OD-detail{
    border:1px solid #0066ff;
    border-radius:5px;
}
.OD-titel{
    position:relative;
    left:30px;
    top:1px;
    text-align:center;
    border-radius:5px;
    width:150px;
    font-size:25px;
    border:1px solid #0066ff;
    border-bottom:none;
    background-color:white;
    font-weight:800;
}
.OD-detail .titel{
    padding-left:50px;
}
.OD-detail .mark{
    font-weight:900;
}
.OD-detail table{
    margin-left:250px;
    font-size:18px;
    font-family:微软雅黑;
}
.OD-detail-cilent-info > table > tbody > tr > td{
    padding-bottom:20px;
    width:500px;
}
.OD-detail-order-info > table > tbody > tr > td{
    padding-bottom:20px;
    /*width:400px;*/
}
.OD-detail-seller-info{
    padding-left: 200px;
    color: #FF0000;
    font-size: 18px;
}
.OD-detail-head > ul{
    border: 1px solid #b1b1b1;
    width: 1320px;
    height: 40px;
    margin: 40px auto 0px auto;
    padding:0px;
    border-radius:5px 5px 0px 0px;
}
.OD-detail-head > ul > .detail,.OD-detail-goods-info > ul > .detail{
    width:450px;
}
.OD-detail-head > ul > li,.OD-detail-goods-info > ul > li{
    text-align:center;
    display:inline-block;
    list-style:none;
    padding: 10px 0px;
    width:140px;
    font-size:16px;
}
.OD-detail-goods-info > ul > .detail{

}
.OD-detail-goods-info > ul > .detail img{
    height:100px;
    width:80px;
}
.OD-detail-goods-info > ul > .detail > span{
    width:200px;
}
.OD-detail-goods-info > ul{
    height: 125px;
    width: 1320px;
    border-radius:0px 0px 5px 5px;
    border:1px solid #b1b1b1;
    margin: 0 auto 20px auto;
    padding:0px;
    background-color:#ECF0F1;
}
.OD-detail-goods-info > ul > li{
    padding:10px 0px;
}
.money{
    color:red;
}
.buyNow_sign{
    height: 40px;
    color: #2ca9e1;
    font-size: 10px;
    margin-top: 30px;
}