
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_ClientLayout.cshtml";
}

<section class="content-header">
    <h1>Index</h1>
</section>
<section class="content">
    <div>

    </div>
</section>