
@{
    ViewBag.Title = "SecuritySet";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<h2>SecuritySet</h2>

<div class="security-set">
    <div class="security-set-title">
        <h4>管理密码</h4>
    </div>
    <div class="security-set-log">
        <div class="log-tip">
            <h4>登录密码</h4>
        </div>
        <div class="pay-password">
            <p class="title"><span class="star">*</span>旧登录密码</p>
            <input type="password" />
            <button>确认</button>
        </div>
    </div>
    <div class="security-set-pay">
        <div class="pay-tip">
            <h4>支付密码</h4>
        </div>
        <div class="pay-password">
            <p class="title"><span class="star">*</span>旧登录密码</p>
            <input type="password" />
            <button>确认</button>
        </div>
    </div>
</div>
@section css{
    <link href="~/Css/Account/SecuritySet.css" rel="stylesheet" />
}