@model Mall.Data.DataBase.User

<div class="pull-left image">
    <a href="Index">
        <img src="@Model.Photo" id="avatar" title="个人主页" class="img-circle" alt="User Image">
    </a></div>
<div class="pull-left info">
    <p>@Model.NickName</p>
    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
</div>
@{ 

}