<link href="~/Content/bootstrap.css" rel="stylesheet" />
<div style="height:100%;overflow-y:unset;position:fixed;"class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" Data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">更改昵称</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>新昵称</label>
                        <input id ="newNick"type="email" class="form-control" placeholder="请输入新昵称">
                    </div>
                </form>  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" Data-dismiss="modal">关闭</button>
                <button type="button" onclick="setName()" class="btn btn-primary"  Data-dismiss="modal">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="~/Scripts/respond.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script>
   $(function () { $('#myModal').modal({
      keyboard: true
   })});
</script>
