
@{
    ViewBag.Title = "登录";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<div class="login_wap">
    <div class="login_body">
        <div>
            <h2>登录</h2>
            <div>
                <form action="Login" name="login" method="post">
                    <p class="login_sign">账户</p>
                    <input name="name" id="account" class="login_input" type="text" placeholder="账户" />
                    <p class="login_sign">
                        密码
                        <span class="login_forget">
                            <a href="RetrievePW">忘记密码?</a>
                        </span>
                    </p>
                    <input name="password" id="password" class="login_input" type="password" placeholder="密码" />
                    <button onclick="log()" class="login_button login_login" type="button">登录</button>
                </form>
            </div>
            <fieldset class="no-account">
                <legend>还没有账户?</legend>
            </fieldset>
            <div>
                <form action="Registe" method="get">
                    <button class="login_button login_registe">注册</button>
                </form>
                <p>欢迎使用云翳书籍商城,希望您购物愉快</p>
            </div>
        </div>
    </div>
</div>

@section css{
    @Styles.Render("~/Css/Users/Index.css")
}
@section scripts{
    @Scripts.Render("~/JS/Users/Index.js")
}
@{
    //登录
    var loginError = TempData["loginError"];
    if (loginError != null)
    {
        if (loginError.Equals("password"))
        {
            <script>
                layer.open({
                    title: '错误提示',
                    content: '账户不存在或密码错误',
                });
            </script>
        }
    }
    //注册
    var registe = TempData["Registe"];
    if (registe != null && registe.Equals("true"))
    {
        <script>
                layer.open({
                    title: '提示',
                    content: '注册成功,请用您刚才注册的信息登录,欢迎使用云翳书籍商城',
                });
        </script>
    }
    //修改密码
    var modifyLP = TempData["ChangeLP"];
    if (modifyLP != null)
    {
        if (modifyLP.Equals("success"))
        {
            <script>
            layer.open({
                title: '提示',
                content: '修改成功,请重新登录!',
            });
            </script>
        }
    }
    //重置密码
    var retrievePW = TempData["RetrievePW"];
    if (retrievePW != null)
    {
        if (retrievePW.Equals("success"))
        {
            <script>
            layer.open({
                title: '提示',
                content: '重置密码成功,请重新登录!',
            });
            </script>
        }
    }
}