
@{
    ViewBag.Title = "RetrievePW";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<h2>RetrievePW</h2>
<div class="">
    用户名：<input />
    Email：<input />
    <button>重置密码</button>
</div>
@section css{
    <link href="~/Css/Users/RetrievePW.css" rel="stylesheet" />
}