@model List<Mall.Web.Front.ViewModel.GoodsInfoViewModel>

@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<div class="SC-head">
    <h2 class="title">购物车</h2>
</div>
<div class="SC-goods">
    <div class="shoppingCart-detail-head">
        <ul>
            <li class="check"><input type="checkbox"/>全选</li>
            <li class="detail">商品简介</li>
            <li>单价</li>
            <li>数量</li>
            <li>运费</li>
            <li>总价</li>
            <li>操作</li>
        </ul>
    </div>
    <div class="shoppingCart-detail-goods">
        <ul>
            <li class="check"><input type="checkbox"/></li>
            <li class="detail">
                <a href="">
                    <img src="~/Pictures/Shared/contact.png" />
                </a>
                <span>和我靓女成本会计被我日hi都是快乐男生都i走</span>
            </li>
            <li>123.00</li>
            <li><input value="1"class="count" type="number" min="1"/></li>
            <li class="money">￥0.00</li>
            <li class="money">￥123.00</li>
            <li><a href="">删除</a></li>
        </ul>
    </div>
</div>
<div class="SC-total">
    <p>
        已选商品：<span class="number">1</span>
        合计：<span class="number">￥123.00</span>
    </p>
    <button>立即下单</button>
</div>
@section css{
    <link href="~/Css/Users/ShoppingCart.css" rel="stylesheet" />
}