<div class="navbar-foot">
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - 我的 Web 商城</p>
        <p class="foot-1">
            <a href="#top">返回顶部</a>
            <span>|</span>
            <a href="http://singularitychina.com/" target="_blank">关于我们</a>
            <span>|</span>
            <a href="#">注册</a>
            <span>|</span>
            <a href="#">更多</a>
        </p>
        <p>
            版权所有&copy;2016~Now Paranoid. 重庆理工大学奇点俱乐部17-1-2-C
        </p>
        <p>
            渝ISO备9999999号
        </p>
    </footer>
</div>
