.login_wap {
    height:800px;
    background-image: url('../../Pictures/Users/图书.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}
.login_body{
    width: 450px;
    left: 60%;
    top: 10%;
    border: 1px solid #666666;
    border-radius: 10px;
    background-color:rgba(236,240,241,0.5);
    position: relative;
}
.login_body > div{
    width:380px;
    margin:0 auto;
}
.login_body > *{
}
.login_sign {
    font-weight:900;
}
.login_forget {
    font-weight: 100;
    font-size: 10px;
    right: 40px;
    position: absolute;
    color: #5e9eff;
}
.login_button,.login_input{
    width:380px;
    height:40px;
    font-size:14px;
    border-radius:5px;
    border:1px solid #666666;
    margin:0 auto;
}
.login_input {
    text-indent:5px;
}
.login_login{
    margin-top: 40px;
    margin-bottom: 20px;
    background-color:#0066ff;
    border:none;
    cursor:pointer;
}
.login_login:hover{
    background-color:#2277ff;
}
.login_login:active{
    background-color:#0066ff;
}
.no-account{
    border:none;
    border-top:1px solid #808080;
}
.no-account legend{
    margin:0 auto;
}
.login_registe{
    margin:20px auto;
    background-color:#11ff66;
    border:none;
    cursor:pointer;
}
.login_registe:hover{
    background-color:#44ff66;
}
.login_registe:hover:active{
    background-color:#11ff66;
}