body{
    background-image: url('http://localhost:9826/Mall.Web.Front/Users/图书.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}
.registe_wap {
    height:800px;
}
.registe_body{
    width: 450px;
    left: 60%;
    top: 10%;
    border: 1px solid #a9a9a9;
    border-radius: 10px;
    background-color:rgba(236,240,241,0.5);
    position: relative;
}
.registe_body > div{
    width:380px;
    margin:0 auto;
}
.registe_body > *{
}
.registe_sign {
    font-weight:900;
}
.registe_forget {
    font-weight: 100;
    font-size: 10px;
    right: 40px;
    position: absolute;
    color: #5e9eff;
}
.registe_button,.registe_input{
    width:380px;
    height:40px;
    font-size:14px;
    border-radius:5px;
    border:1px solid #666666;
    margin:0 auto;
}
.registe_input {
    text-indent:5px;
}
.registe_registe{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:#0066ff;
    cursor:pointer;
    border:none;
    color:white;
}
.registe_registe:hover{
    background-color:#2277ff;
}
.registe_registe:active{
    background-color:#0066ff;
}
.registe_login{
    margin:20px auto;
}
.registe_login:hover{

}
.registe_condition{
    margin-top: 16px;
}
.registe_notice{
    font-weight:100;
    font-size: 10px;
}
.has-account{
    border:none;
    border-top:1px solid #808080;
    margin-bottom:50px;
}
.has-account legend{
    color:#666666;
    margin:0 auto;
    font-size:12px;
    width:auto;
    border-bottom:0;
}
.has-account legend > a{
    font-size:14px;
    color:#0022ff;
}
.has-account legend > a:hover{
    text-decoration:underline;
}