
<ul>
    <li class="good-info">商品简介</li>
    <li class="good-price">单价(元)</li>
    <li class="good-count">数量</li>
    <li class="good-freight">邮费(元)</li>
    <li class="good-total">总价(元)</li>
    <li class="order-state">订单状态</li>
    <li class="order-action">操作</li>
</ul>
