body {
    background-color: #ecf0f1;
}

.navbar-body > div {
    margin-top: 100px;
}

    .navbar-body > div > div {
        margin: 20px 0px;
    }

.navigate {
    height: 70px;
    margin: 0px 50px;
    margin-top: 20px;
}

.mall-head {
    margin: 20px 0px;
    display: flex;
}

    .mall-head > div {
        height: 500px;
    }

.mall-head-left, .mall-head-right {
    width: 250px;
}
.mall-head-left img, .mall-head-right img{
    width: 250px;
    height:500px;
}

.mall-head-center {
    width: 1000px;
    margin: 0px 20px;
}
.mall-head-center > div{
    width:965px;
}

.advertisement {
    display: flex;
}
/*广告*/
.advertisement-left {
    margin-right: 100px;
}

.advertisement-left, .advertisement-right {
    width: 700px;
    height: 75px;
    text-align:right;
}
.advertisement-left img, .advertisement-right img{
    width:700px;
    height: 75px;
}
.advertisement-left span, .advertisement-right span{
    position: relative;
    top: -20px;
    color: #aaaaaa;
}

#anchor-3 ul {
    margin: 0 !important;
    padding: 0 !important;
}

    #anchor-3 ul > li {
        height: 500px !important;
        list-style: none;
        padding: 0 !important;
    }

.tb-arrow {
    margin-left: -445px !important;
}

    .tb-arrow > a {
        width: 50px;
        text-align: center;
        border-radius: 10px;
    }

        .tb-arrow > a:hover {
            animation: fade 1s;
            animation-fill-mode: forwards;
        }

@-webkit-keyframes fade {
    from {
        background-color: rgba(128, 128, 128, 0.00);
    }

    to {
        background-color: rgba(128, 128, 128, 0.75);
    }
}
