<!--推荐-->
@model List<Mall.Service.DataBase.GoodsInfo>

<ul>
    @{
        List<int> i = new List<int>();
        i.Add(1); i.Add(1); i.Add(1); i.Add(1);
    }
    @foreach (var item in i)
    {
        <li>
            <div class="suggest-content-part">
                <div class="part-good-img">
                    <a href="#">
                        <img src="~/Pictures/人类简史.jpg" />
                    </a>
                    <div class="caption">
                        <div class="caption-text">
                            <h1>Amazing Caption</h1>
                            <p>Whatever It Is - Always Awesome</p>
                        </div>
                    </div>
                </div>
                <div class="part-good-detail">
                    <a href="#">
                        <p class="detail-title">
                            Title
                        </p>
                    </a>
                    <p class="detail-money">
                        <strong>￥123.00</strong>
                    </p>
                    <p class="detail-author">
                        作者:&emsp;Author
                    </p>
                    <p class="detail-time">
                        出版日期:&emsp;2016-12-12
                    </p>
                </div>
            </div>
        </li>
    }
</ul>