
@model Mall.Web.Front.ViewModel.GoodsInfoViewModel

<a href="#">
    <img src="~/Pictures/人类简史.jpg" />
    <div class="caption">
        <div class="caption-text">
            <h1>Amazing Caption</h1>
            <p>Whatever It Is - Always Awesome</p>
        </div>
    </div>
</a>