
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Css/Home/HOme.css");
}

<div class="">
    <div class="outside navigate">
        2
    </div>
    <div class="mall-head">
        <div class="outside mall-head-left">
            3-1
        </div>
        <div class="outside mall-head-center">
            3-2
        </div>
        <div class="outside mall-head-right">
            3-3
        </div>
    </div>
</div>
<div class="advertisement">
    <div class="outside advertisement-left">5</div>
    <div class="outside advertisement-right">6</div>
</div>
<div class="suggest">
    <div>
        <div class="">
            <span>畅销书籍</span>
            <div class="outside suggest-content">

            </div>
        </div>
        <div class="outside suggest-advertisement">

        </div>
    </div>
    <div>
        <div>
            <span>新品上市</span>
            <div class="outside suggest-content">

            </div>
        </div>
        <div class="outside suggest-advertisement">

        </div>
    </div>
    <div>
        <div>
            <span>好书集锦</span>
            <div class="outside suggest-content">

            </div>
        </div>
        <div class="outside suggest-advertisement">

        </div>
    </div>
</div>
<div class="guess">
    <span>猜你喜欢</span>
    <div class="outside guess-content">

    </div>
</div>
