
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<div class="admin_login_wap">
    <div class="admin_login">
        <div class="admin_login_head"></div>
        <h2>欢迎使用云翳商城管理系统</h2>
        <div>
            <form action="Login">
                <div>
                    <span id="admin_login_id" class="admin_login_sign_img">
                        <img src="~/Pictures/Shared/Serch(Touch).png" />
                    </span>
                    <input id="id" name="account" class="admin_login_input" type="text" placeholder="账户" />
                </div>
                <div>
                    <span id="admin_login_password" class="admin_login_sign_img">
                        <img src="~/Pictures/Shared/Serch(Touch).png" />
                    </span>
                    <input id="password" name="password" class="admin_login_input" type="password" placeholder="密码" />
                </div>
                <button class="admin_login_button">登录</button>
            </form>
        </div>
        <div class="admin_login_forget">
            <p>
                <span></span>
                忘记密码?
                <a href="#">点这里</a>
                <span></span>
            </p>
        </div>
    </div>
</div>
@section css{
    <link href="~/Css/Admin/Login.css" rel="stylesheet" />
}